/* style global pour font et size */
    * { 
        margin: 0; padding: 0; box-sizing: border-box; 
        font-family: 'Inter', 'Segoe UI', sans-serif; 
    }

    body {
        min-height: 100vh;
        width: 100vw;
        display: flex;
         min-height: 100vh;
        background: #91a7f0;

     
    }

    .register-box {
        width: 100%;
        padding: 49px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2 {
        margin-bottom: 30px;
        color: #280da0ea;
        font-size: 40px;
        font-weight: 700;
    }

    form {
        width: 100%;
        max-width: 1000px;
        background: #bdcbf9;
        padding: 35px;
        border-radius: 0px;
        box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    }

    .input-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        position: relative;
    }

    .input-group label {
        font-size: 14px;
        font-weight: 600;
        color: #416ba5;
        margin-bottom: 8px;
        transition: 0.3s;
    }

    /* style pour input */
    .input-group input, 
    .input-group select {
        width: 100%;
        padding: 15px 18px;
        border-radius: 10px;
        border: 2px solid #e2e8f0; 
        font-size: 16px;
        background: #fff;
        outline: none;
        transition: all 0.3s ease;
    }

    /* les inputs qui ne sont pas encore rempli */
    
    .input-group input:placeholder-shown {
        border-color: #e2e8f0; 
    }

    .input-group input:not(:placeholder-shown):invalid {
        border-color: #ef4444; /* en rouge s il ya un erreur dans email */
        background-color: #fef2f2;
    }

    /*  Les champs Valid */
    .input-group input:not(:placeholder-shown):valid,
    .input-group select:valid {
        border-color: #22c55e; 
        background-color: #f0fdf4;
    }

    .input-group input:focus {
        box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.1);
        border-color: #3b82f6;
    }

    /*  Style de Select */
    .input-group select {
        cursor: pointer;
        appearance: none;
       
        background-repeat: no-repeat;
        background-position: right 15px center;
        background-size: 16px;
    }

    /* Bouton d inscription */
    .btn-register {
        width: 100%;
        padding: 18px;
        background: #1e293b; 
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s;
        margin-top: 10px;
    }

    .btn-register:hover {
        background: #334155;
        transform: translateY(-2px);
    }

    .login-link {
        text-align: center;
        margin-top: 25px;
        color: #64748b;
    }

    .login-link a {
        color: #3b82f6;
        text-decoration: none;
        font-weight: 600;
    }
    .alert-success {
    background-color: #dcfce7;
    color: #945d66;
    padding: 15px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-weight: 600;
    border: 1px solid #86efac;
}